<%= render "top" %>

 
 <div class='flex'>

    <div>    
        <div style="border: solid" id="to_root">кнопка перехода на первый фрейм</div>





        <div id="leve1">
            <%= @subcategory1_name %>
        </div>

        <div class="leve2">
            <%= @subcategory2_name %>
        </div>

        <div class="leve3 bold">
            <%= @subcategory3_name %>
        </div>


        <div id="level3_rest" class="leve3">
            <% @rest_categoties_level3.each do |item|%>
            <p>
            <%= item.name %>
            </p>
            <% end %>
        </div>

        

        <div id="level2_rest" class="leve2">
            <% @rest_categories_level2.each do |item|%>
            <p>
            <%= item.name %>
            </p>
            <% end %>
        </div>


        <div id="level1_rest" class="level1">
            <% @rest_categories_level1.each do |item|%>
            <p>
            <%= item.name %>
            </p>
            <% end %>
        </div>





    </div>




    <table id='table'>
        <tr class="bold">
            <td class="td_top">название</td> 
            <td class="td_top">ед.изм.</td>
            <td class="td_top">цена розн.</td>
            <td class="td_top">цена опт.</td>
            <td class="td_top">объём опта</td>
            <td class="td_top">компания</td>
            <td class="td_top">тел для заказа</td>
        </tr>
    </table>


</div>




<%= render "bottom" %>




<script>
    const to_root   = document.querySelector("#to_root")
    to_root.addEventListener('click', () => window.location.href = '/')

    const level1_name = document.querySelector("#leve1").innerHTML.replace(/\s+/g, '')


    const level1      = document.querySelector("#leve1")
    const level2_name = document.querySelector(".leve2").innerHTML.replace(/\s+/g, '')
    const level2      = document.querySelector(".leve2")

    level1.addEventListener('click', ()=> window.location.href =  `/qqq/${level1_name}`)
    level2.addEventListener('click', ()=> window.location.href =  `/qqq/${level1_name}/${level2_name}`)



    const level1_rest = document.querySelector("#level1_rest")
    level1_rest.addEventListener('click', el => {
        let target = el.target.innerHTML
        if (target.length < 100) {
            target = target.replace(/\s+/g, '');
            window.location.href = `/qqq/${target}`
        }
    } )

    const level2_rest = document.querySelector("#level2_rest")
    level2_rest.addEventListener('click', el => {
        let target = el.target.innerHTML
        if (target.length < 100) {
            target = target.replace(/\s+/g, '');
            window.location.href = `/qqq/${level1_name}/${target}`
        }
    } )

    const level3_rest = document.querySelector("#level3_rest")
    level3_rest.addEventListener('click', el => {
        let target = el.target.innerHTML
        if (target.length < 100) {
            target = target.replace(/\s+/g, '');
            window.location.href = `/qqq/${level1_name}/${level2_name}/${target}`
        }
    } )
</script>