<%= render "top" %>








<div class='flex'>

    <div>    
        <div style="border: solid" id="to_root">кнопка перехода на первый фрейм</div>

        <div id="leve1" class="bold">
            <%= @active_category1_name %>
        </div>

        <div class="leve2">
            <ul>
                <% @categories_L2.each do |item| %>
                 <li>
                     <%= item.name %>
                 </li>
                <% end %>
            </ul>
        </div>
    
    <div id="level1" class="level1">
        <% @rest_categories_level1.each do |item|%>
        <p>
        <%= item.name %>
        </p>
        <% end %>
    </div>
    
    
    </div>




    <table id='table'>
        <tr class="bold">
            <td class="td_top">название
                <button id="but_name_top"><svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg"><line x1="6" y1="11" x2="6" y2="0" stroke="black"/><line x1="0" y1="5" x2="6" y2="0" stroke="black"/><line x1="11" y1="5" x2="6" y2="0" stroke="black"/></svg>
                </button>
                <button id="but_name_bottom"><svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg"><line x1="6" y1="11" x2="6" y2="0" stroke="black"/><line x1="0" y1="6" x2="6" y2="11" stroke="black"/><line x1="11" y1="6" x2="6" y2="11" stroke="black"/></svg>
                </button>
            </td> 
            <td class="td_top">ед.изм.</td>
            <td class="td_top">цена розн.
                 <button id="but_price_retail_top"><svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg"><line x1="6" y1="11" x2="6" y2="0" stroke="black"/><line x1="0" y1="5" x2="6" y2="0" stroke="black"/><line x1="11" y1="5" x2="6" y2="0" stroke="black"/></svg>
                </button>
                <button id="but_price_retail_bottom"><svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg"><line x1="6" y1="11" x2="6" y2="0" stroke="black"/><line x1="0" y1="6" x2="6" y2="11" stroke="black"/><line x1="11" y1="6" x2="6" y2="11" stroke="black"/></svg>
                </button>
            </td>
            <td class="td_top">цена опт.
                 <button id="but_price_wholesale_top"><svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg"><line x1="6" y1="11" x2="6" y2="0" stroke="black"/><line x1="0" y1="5" x2="6" y2="0" stroke="black"/><line x1="11" y1="5" x2="6" y2="0" stroke="black"/></svg>
                </button>
                <button id="but_price_wholesale_bottom"><svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg"><line x1="6" y1="11" x2="6" y2="0" stroke="black"/><line x1="0" y1="6" x2="6" y2="11" stroke="black"/><line x1="11" y1="6" x2="6" y2="11" stroke="black"/></svg>
                </button>
            </td>
            <td class="td_top">объём опта</td>
            <td class="td_top">компания</td>
            <td class="td_top">тел для заказа</td>
        </tr>
    </table>


</div>


<%= render "bottom" %>

    






<script>
    const to_root   = document.querySelector("#to_root")
    to_root.addEventListener('click', () => window.location.href = '/')

    const leve1 = document.querySelector("#leve1").innerHTML.replace(/\s+/g, '')
    const leve2 = document.querySelector(".leve2")
    leve2.addEventListener('click', el => {
        let target = el.target.innerHTML
        if (target.length < 100) {
            target = target.replace(/\s+/g, '');
            window.location.href = `/qqq/${leve1}/${target}`
        }
    } )






</script>