<%= render "top" %>


<p><%= @qqq %></p>

<div id="wrap1">    
    <div id="categories_root" class='flex content1'>

        <ul>
        <% @column1.each do |category| %>
                <li class="li">
            <%= category.name %>
                </li>
            <% end %>
        </ul>

        <ul>
        <% @column2.each do |category| %>
                <li>
            <%= category.name %>
                </li>
            <% end %>
        </ul>

        <ul>
        <% @column3.each do |category| %>
                <li>
            <%= category.name %>
                </li>
            <% end %>
        </ul>

    </div>
</div>




<%= render "bottom" %>









 



<script>
    const cat_s     = document.querySelector("#categories_root")


    cat_s.addEventListener('click', el => {
        let target = el.target.innerHTML

        if (target.length < 100) {
            target = target.replace(/\s+/g, '');
            window.location.href = `/qqq/${String(target)}`
        }
    } )





</script>
