<%= render "top" %>

<div style="border: solid" id="to_root">кнопка перехода на первый фрейм</div>
<div id="leve1">
    <%= @current_category_L1 %>
</div>

<div class="leve2 bold">
    <%= @current_category_L2 %>
</div>





<div class="leve3">
    <ul>



            <% @categories_L3.each do |el| %>
        <li>
            <%= el.name %>
        </li>
            <% end %>




    </ul>
</div>






<%= render "bottom" %>




<script>
    const to_root   = document.querySelector("#to_root")
    to_root.addEventListener('click', () => window.location.href = '/')




    const leve1_name = document.querySelector("#leve1").innerHTML.replace(/\s+/g, '')
    const leve1      = document.querySelector("#leve1")
    const leve2_name = document.querySelector(".leve2").innerHTML.replace(/\s+/g, '')
    const leve3 = document.querySelector(".leve3")
   
    leve3.addEventListener('click', el => {
         let target = el.target.innerHTML

         if (target.length < 100) {
             target = target.replace(/\s+/g, '');
             window.location.href = `/qqq/${leve1_name}/${leve2_name}/${target}`
         }
     } )

    leve1.addEventListener('click', () => window.location.href = `/qqq/${leve1_name}`)


</script>